<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página do trabalho final do curso de JAVA do SENAI-DF">
    <title>Projeto Final Senai - DF/2022 </title>
    <link rel="stylesheet" type="text/css" href="stylle/stylle.css">
</head>

<body>

<header class="cabecalho">
    <img class="cabecalho-imagem"src="logo01.svg" alt="Logo do trabalho final do SENAI-DF">
    <nav class="cabecalho-menu">
        <a class="cabecalho-menu-item" href="/">Home</a>
        <a class="cabecalho-menu-item" href="/transparencia">Transparência </a>
        <a class="cabecalho-menu-item" href="/users">Indice de Remuneração</a>
        <a class="cabecalho-menu-item" href="/sobre">Sobre nós</a>
    </nav>
</header>