<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>

<main class="conteudo">
    <section class="conteudo-principal">
        <div class="conteudo-principal-escrito">
            <h1 class="conteudo-principal-escrito-titulo">Sobre Nós<s></s></h1>
            <h2 class="conteudo-principal-escrito-subti">História da Brais</h2>
            <p class="conteudo-principal-escrito-p"> Desde os primeiros passos, a gente inova para transformar sua
                experiência financeira.

                Somos uma empresa pioneira no segmento de gestão de criptoativos. Nascemos em Campina Grande-PB, em 2018
                e hoje, conquistamos nosso espaço alcançando clientes no Brasil e no exterior.

                Idealizada pelos sócios Antonio Neto Ais e Fabricia Ais, a Braiscompany tem a missão de transformar
                inovação e estratégia em soluções com o potencial de promover lucros através da locação de
                criptoativos.</p>
            <a class="conteudo-principal-escrito-botao-sobre" href="https://www.youtube.com/watch?time_continue=1&v=HwcpcPtSQP0&feature=emb_title">Assista ao vídeo</a>
        </div>
        <img class="conteudo-principal-imagem-sobre" src="LINKd100 1.svg" alt="Logo da BraisCompany">
    </section>

    <section class="conteudo-secundario">
        <h3 class="conteudo-secundario-titulo"><strong>Transformando o futuro</strong></h3>
        <p class="conteudo-secundario-paragrafo"><strong>Contrato de locação:</strong>
            A Braiscompany atua no mercado através da locação de criptoativos, relação na qual pagamos ao cliente um
            valor variável dentro de um intervalo de tempo pré-estabelecido, em um contrato assinado inter-partes.</p>
        <p class="conteudo-secundario-paragrafo"><strong>Soluções em Blockchain:</strong>
            A blockchain atualmente é bastante usada no mercado financeiro de criptoativos, mas ela também pode ser
            usada nas mais diversas soluções tecnológicas que se tem no mercado atualmente.</p>
        <p class="conteudo-secundario-paragrafo"><strong>Cursos disruptivos:</strong>
            Deseja aprender como operar no mercado? Como ser um investidor de sucesso vivendo apenas da sua renda? Você
            pode ter um futuro financeiro sem depender de ninguém. Invista na sua capacitação com um de nossos cursos.
        </p>
    </section>

</main>

<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>