<div th:replace="shared/header" xmlns:th="http://www.w3.org/1999/xhtml"></div>


    <main class="conteudo">
        <section class="conteudo-principal">
            <img class="conteudo-principal-imagem" src="LINKd79 1.svg" alt="Logo da BraisCompany">
            <div class="conteudo-principal-escrito">
                <h1 class="conteudo-principal-escrito-titulo">Braiscompany</h1>
                <h2 class="conteudo-principal-escrito-subtitulo">É assim que, há séculos, a invenção da moeda passou a transformar 
                    a vida em sociedade. Mas, ao invés de voltar no tempo para rever essa história, 
                    vamos avançar para transformar a sua jornada.</h2>
                <a class="conteudo-principal-escrito-botao" href="https://braiscompany.com/">Saiba Mais</a>

            </div>
            
        </section>

        <section class="conteudo-secundario">
            <h3 class="conteudo-secundario-titulo">Como funciona a <strong>Locação de CriptoAtivos?</strong></h3>
            <p class="conteudo-secundario-paragrafo">1. Funciona assim: você precisa fazer uma <strong>compra inicial de um valor mínimo de bitcoins</strong> . Esse criptoativo seria
                a sua casa.</p>
            <p class="conteudo-secundario-paragrafo">2. A partir daí, com o contrato de locação assinado, <strong>você passa a custódia desse criptoativo para a empresa por um período específico</strong>. No caso da Braiscompany, esse período é de, no mínimo, doze meses.</p>
            <p class="conteudo-secundario-paragrafo">3. Durante esse tempo, nossa equipe
                de traders vai operar com os seus criptoativos. Assim, <strong>nós pagamos mensalmente um aluguel, mensal e variável, sobre o valor em contrato</strong>.</p>
        </section>

    </main>

<div th:replace="shared/footer" xmlns:th="http://www.w3.org/1999/xhtml"></div>